#more-text {
	display: none;
}

#read-less-btn {
	display: none;
}

#read-more-btn {
	text-decoration: underline;
}

.navi-container {
	display: flex;
	justify-content: space-around;
}

.card {
	margin: 1rem;
}

.card-links {
	display: flex;
	margin-top: 1rem;
	justify-content: space-evenly;
}

.card-title {
	text-align: center;
}

.card-text {
	text-align: center;
}

.project-section {
	height: 80vh;
}

.project-card {
	justify-content: center;
}

.intro-1 {
	justify-content: center;
	align-items: center;
}

.project-title {
	justify-content: center;
	margin-bottom: 10px;
	padding-top: 5rem;
	padding-bottom: 3rem;
}

.project-icon {
	width: 100%;
	object-fit: contain;
}

.contact-title {
	justify-content: center;
}

.intro {
	margin-top: 20px;
}

.link-stuff ul {
	display: flex;
	margin: 0;
	align-items: center;
}

.link-stuff ul li {
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
}

.link-stuff ul a {
	text-decoration: none;
	color: black;
}

#about-me-section {
	background-color: rgb(249, 249, 249);
}

.about-me-description {
	justify-content: flex-start;
	align-items: center;
	width: 73%;
}

.welcome-text {
	text-align: center;
}

.about-me-text {
	padding-left: 0;
	padding-right: 20%;
	color: black;
	text-align: left;
	font-size: 25px;
}

.about-me-about-me {
	padding-right: 77%;
	color: black;
	text-align: left;
}

.link-down {
	position: relative;
	width: 100%;
}

.about-me-fas {
	position: absolute;
	left: 66.5%;
}

.card {
	border-radius: 30px;
	margin: 3rem;
}

.card:hover {
	animation: bounce 2.5s infinite;
	-webkit-animation: bounce 2.5s infinite;
	-moz-animation: bounce 2.5s infinite;
	-o-animation: bounce 2.5s infinite;
}

@-webkit-keyframes bounce {
	0%,
	100% {
		-webkit-transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-10px);
	}
}
@-moz-keyframes bounce {
	0%,
	100% {
		-moz-transform: translateY(0);
	}
	50% {
		-moz-transform: translateY(-10px);
	}
}
@-o-keyframes bounce {
	0%,
	100% {
		-o-transform: translateY(0);
	}
	50% {
		-o-transform: translateY(-10px);
	}
}
@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

@keyframes animate {
	0%,
	10%,
	100% {
		width: 0;
	}
	70%,
	90% {
		width: 100%;
	}
}

.contact-info {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}
.email-container {
	margin-bottom: 1rem;
}
.email-link {
	color: rgb(178, 204, 239);
	text-decoration: none;
}

/* .email-link h3 {
	transition: all 0.2s ease-in;
} */

.email-link:hover h3 {
	color: rgb(178, 204, 239);
	animation-duration: 1.5s;
	animation-name: changeScale;
	animation-iteration-count: infinite;
}

@keyframes changeScale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.social-links {
	display: flex;
	align-items: center;
}

.social-links a i {
	font-size: 2rem;
	padding-right: 3rem;
	padding-top: 0.5rem;
	padding-left: 0.2rem;
	color: rgb(178, 204, 239);
}

.social-links a i:hover {
	animation-duration: 1.5s;
	animation-name: changeScaleSocial;
	animation-iteration-count: infinite;
}

@keyframes changeScaleSocial {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

.navbar-after-icon {
	margin-left: 1rem;
}

.navbar {
	margin-left: 2rem;
	margin-right: 2rem;
	background-color: rgb(249, 249, 249);
}

#navbar-WT {
	font-size: 2rem;
	transition: all 0.5s ease-in-out;
}

#navbar-WT:hover {
	color: rgb(42, 42, 42);
	transform: scale(1.1);
}

.top {
	text-decoration: none;
	color: rgb(42, 42, 42);
}

.software-engineer {
	border-bottom: 3px solid rgb(178, 204, 239);
	padding-bottom: 1.5px;
	/* box-shadow: inset 0 -1.5px 0 -1px rgb(57, 59, 61); */
	transition: box-shadow 0.3s ease-in-out;
}

.software-engineer:hover {
	box-shadow: inset 0 -35px 0 -1px rgb(178, 204, 239);
	color: black;
	cursor: pointer;
}

.hero-name {
	box-shadow: inset 0 -10px 0 -1px rgb(178, 204, 239);
	text-decoration: none;
	color: black;
	transition: all 0.5s ease;
}

.hero-name:hover {
	box-shadow: inset 0 -100px 0 -1px rgb(178, 204, 239);
	color: black;
}

.full-stack {
	border-bottom: 3px solid rgb(178, 204, 239);
	padding-bottom: 1.5px;
	/* box-shadow: inset 0 -1.5px 0 -1px rgb(57, 59, 61); */
	transition: box-shadow 0.3s ease-in-out;
}

.full-stack:hover {
	box-shadow: inset 0 -35px 0 -1px rgb(178, 204, 239);
	color: black;
	cursor: pointer;
}

.nav-hover {
	position: relative;
}

.nav-hover:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: rgb(178, 204, 239);
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}

.nav-hover:hover:before {
	height: 2.5px;
	visibility: visible;
	transform: scaleX(1);
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 30vh;
}

.footer-row {
	display: flex;
	justify-content: center;
}

.footer-row p {
	font-size: 13px;
}

@media (max-width: 375px) {
	.navbar {
		margin-left: 0;
		margin-right: 0;
		display: flex;
	}
	.hand-icon {
		display: none;
	}

	.about-me {
		flex-wrap: wrap;
	}

	.project-title {
		margin-top: 20rem;
		padding: 0;
	}

	.social-links {
		justify-content: center;
		padding: 0;
	}
}

@media only screen and (max-width: 600px) {
	.about-me-text {
		font-size: 1.3rem;
		justify-content: center;
		padding-right: 0;
		text-align: center;
	}
	.about-me-about-me {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	.link-down {
		display: none;
	}

	.project-title {
		padding-top: 0;
	}

	.email-container {
		text-align: center;
	}

	.follow-me-text {
		text-align: center;
	}

	.social-links a i {
		font-size: 2rem;
		padding-right: 1rem;
		padding-top: 0.5rem;
		padding-left: 1rem;
		color: rgb(178, 204, 239);
	}
}
